template(name="home")
	.container
		.row
			.col-md-12
				h1 Load Data
				#step
					.form-group
						label Source
						input(type="text", id="url", class="form-control", placeholder="url")
					.form-group
						select.form-control#backend
							each backends
								option(value=key) #{name}
				a#next.btn.btn-primary.pull-right Next
			.col-sm-4
				+loginButtons
			.clearfix
